@media (max-width: 1439px) {
    .catalog {
        max-width: 930px;
    }

    .content__product-grid {
        max-width: 610px;
        display: grid;
        grid-template-columns: 290px 290px;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .aside {
        min-width: 290px;
        margin-left: 30px;
    }
    .aside__price {
        width: 220px;
    }

    .product-item__card-thumbnail img {
        width: 290px;
        height: 182px;
    }

    .product-item:nth-child(7) {
        display: none;
    }

    .product-item:nth-child(8) {
        display: none;
    }

    .product-item:nth-child(9) {
        display: none;
    }
}

@media (min-width: 1024px) {
    .aside.mobile {
        display: none;
    }
}

/* кнопка для слайда фильтров */
@media only screen and (min-width: 200px) and (max-width: 1023px) {
    .aside.mobile {
        margin: 0 auto;
    }

    .mobile-filters-btn {
        display: flex;
        justify-content: center;
        vertical-align: middle;
        width: 100%;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        align-items: center;
        display: flex;
        outline: none;
        background: linear-gradient(126.69deg, #27A8DD 0%, #1A7FB8 100%);
    }
}

@media (max-width: 1023px) {
    .catalog {
        max-width: 678px;
    }

    .content__product-grid {
        max-width: 610px;
        display: grid;
        grid-template-columns: 324px 324px;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .aside {
        display: none;
    }

    .product-item__card-thumbnail img {
        width: 324px;
    }

    .mobile-filters-btn {
        height: 64px;
    }

    .sort {
        margin: 24px 0px 20px 0px;
    }

    @media (max-width: 767px) {
        .content {
            display: block;
        }

        .catalog {
            /* overflow: hidden; */
            max-width: 290px;
        }

        .mobile-filters-btn {
            height: 56px;
        }

        .sort span {
            display: none;
        }

        .sort {
            margin-left: calc(50% - 50vw);
            /* игнор обёртки родителя */
            overflow: auto;
            height: 40px;
            white-space: nowrap;
            padding-right: 15px;
            padding-left: 15px;
            margin-bottom: 3px;
        }

        .sort::-webkit-scrollbar {
            width: 0px;
        }

        .s_wrap {
            position: relative;
            width: 100vw;
            margin-left: calc(50% - 50vw);
        }

        .s_wrap::after {
            position: absolute;
            content: '';
            top: 0px;
            width: 40px;
            right: 0px;
            height: 20px;
            background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }

        .s_wrap::before {
            position: absolute;
            content: '';
            top: 0px;
            width: 15px;
            left: 0px;
            height: 20px;
            background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
        }

        .sort__item {
            display: inline-block;

        }

        .content__product-grid {
            max-width: 290px;
            display: grid;
            grid-template-columns: 290px;
            grid-column-gap: 30px;
            grid-row-gap: 16px;
        }

        .product-item:nth-of-type(2) {
            grid-row: 3;
        }

        .product-item:nth-of-type(3) {
            grid-row: 2;
        }

        .product-item:nth-of-type(5) {
            grid-row: 6;
        }

        .product-item:nth-of-type(6) {
            grid-row: 5;
        }

        .aside {
            display: none;
        }

        .product-item__card-thumbnail img {
            width: 290px;
        }

        .content__load_more_btn {
            margin: 16px 0px;
        }
    }
}