body {
    font-weight: 400;
    font-family: 'KelsonSans-RegularRU';
    background: #FFFFFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'KelsonSans-BoldRU';
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #374044;
}

.catalog h1 {
    margin: 25px 0px;
}

h2 {
    font-family: 'KelsonSans-BoldRU';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #515151;
}

.catalog {
    max-width: 1170px;
    margin: 0 auto;
}

.catalog-menu {
    margin: 10px 0px;
}

.catalog-menu__item {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-right: 49.96px;
    cursor: pointer;
}

.catalog-menu__link {
    display: flex;
    color: #545C60;
}

.catalog-menu__link.active span {
    color: #27A8DD;
}

.catalog-menu__label {
    margin-left: 13.6px;
    color: #545C60;
}

.content {
    display: flex;
    justify-content: space-between;
}

.sort {
    height: 24px;
    margin: 20px 0px;
}

.sort span {
    margin-top: 1px;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: run-in;
    align-items: center;
    margin-right: 29px;
    color: #ABB3B7;
}

.sort__item {
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    margin-right: 16px;
    color: #545C60;
}

.sort__item:last-child {
    margin-left: -3px;
}

.sort__item.active {
    color: #27A8DD;
}

.sort__item.active:after {
    content: '';
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: -6px;
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 5px;
    background-image: url(img/sort_arrow.svg);
    background-repeat: no-repeat;
    background-size: initial;
    color: #27A8DD;
}

.products {
    width: 100%;
}

.mobile-filters-btn {
    display: none;
}

.content__product-grid {
    max-width: 870px;
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 0;
}

.product-item__card-thumbnail img {
    display: block;
}

.product-item__info {
    margin-top: 15px;
    margin-bottom: 19px;
}

.product-item__price+.product-item__name {
    margin-top: 10px;
}

.product-item__price {
    font-family: 'KelsonSans-BoldRU';
    height: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    color: #374044;
}

.product-item__name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
}


.product-item__brand-name {
    color: #374044;
}

.product-item__prod-name {
    color: #ABB3B7;
    overflow-wrap: break-word;
    word-break: break-word;
}

.product-item__prod-name:before {
    content: '/';
    padding-right: 4px;
}

.filters-btn-text {
    font-family: 'KelsonSans-BoldRU';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.filters-icon {
    margin-right: 16px;
}

.aside {
    width: 270px;
    margin-left: 30px;
}

.aside__header {
    display: flex;
    justify-content: space-between;
    margin: 18px 0px 18px 0px;

    color: #ACACAC;
}

.asside__reset {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    margin-top: 9px;
    color: #ACACAC;
}

.asside__reset:after {
    font-family: 'KelsonSans-RegularRU';
    content: '';
    margin-left: 6px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-image: url(img/x_reset.svg);
    background-repeat: no-repeat;
    background-size: initial;
    color: #ACACAC;
}

.aside__filters {
    padding: 23px 24px 23px 24px;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 8px;
}

.aside__price-title {
    font-family: 'KelsonSans-BoldRU';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    color: #374044;

}


/* двойной ползунок для фильтра цены ------------------------------------------------------------*/
.polzunok-container-5 * {
    box-sizing: border-box;
    outline: none;
}

.polzunok-container-5 {
    margin-top: 16px;
}

.polzunok-container-5:after {
    content: "";
    clear: both;
    display: table;
}

.polzunok-container-5 .ui-slider {
    position: relative;
    margin-top: 23px;
    background: #F3F3F3;
    border-radius: 1px;
    height: 2px;
}

.polzunok-container-5 .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    top: -9px;
    background: #E7E7E7;
    z-index: 2;
    transition: transform 0.2s, border 0.4s;
}

.polzunok-input-block {
    display: flex;
    justify-content: center;
}

.polzunok-input-5-left,
.polzunok-input-5-right {
    height: 40px;
    background: #F3F3F3;
    border-radius: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    font-size: 18px;
    font-family: 'KelsonSans-RegularRU';
    padding-left: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #515151;
}

.polzunok-input-5-left {
    width: 70px;
}

.polzunok-input-5-right {
    width: 70px;
}

.polzunok-container-5 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 2px;
    border: 0;
    background: #27A8DD;
    border-radius: 10px;
}

.otdo {
    font-family: 'KelsonSans-RegularRU';
    vertical-align: middle;
    height: 40px;
    line-height: 42px;
    display: flex;
    padding-left: 16px;
    border-radius: 4px;
    background: #F3F3F3;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #919496;
}

.ot {
    min-width: 112px;
}

.do {
    min-width: 102px;
}

.otdo+.otdo {
    margin-left: 8px;
}

/* Тип продукта --------------------------------------------------- */
.aside__type-product {
    margin-top: 41px;
}

.aside__type-product-title {
    font-family: 'KelsonSans-BoldRU';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    color: #374044;
}

.checkbox {
    display: block;
    cursor: pointer;
}

.checkbox__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.checkbox__fake {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    vertical-align: bottom;
    background-image: url(img/check_not_active.svg);
}

.checkbox__real:checked+.checkbox__fake::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(img/check_active.svg);
    background-size: initial;
    background-position: center;
    transform: translate(-50%, -50%);
}

.checkbox__real:checked+.checkbox__fake {
    background-image: none;
}

.checkbox__title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #515151;
}

.checkbox+.checkbox {
    margin: 8px 0px;
}


/* Категория продукта ------------------------------------------------ */
.aside__cat-product {
    margin-top: 33px;
}

.aside__cat-product-title {
    font-family: 'KelsonSans-BoldRU';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    color: #374044;
}

.radio {
    display: block;
    cursor: pointer;
}

.radio__title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    align-items: center;

    color: #515151;
}

.radio+.radio {
    margin-top: 8px;
}

.radio__real {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.radio__fake {
    position: relative;
    display: inline-block;
    margin-right: 3px;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    vertical-align: bottom;
    background-image: url(img/radio_not_active.svg);
}

.radio__real:checked+.radio__fake::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(img/radio_active.svg);
    background-size: initial;
    background-position: center;
    transform: translate(-50%, -50%);
}


.content__load_more_btn {
    width: 100%;
    height: 64px;
    margin: 30px 0px;
    background: #F3F3F3;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;

    color: #ABB3B7;
}

.content__load_more_btn span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    height: 20px;
    -webkit-transform: scale(0.8, 1.07);
    -moz-transform: scale(0.8, 1.07);
    -ms-transform: scale(0.8, 1.07);
    -o-transform: scale(0.8, 1.07);
    transform: scale(0.8, 1.07);
}

/*---------- шрифты ----------*/
@font-face {
    font-family: 'KelsonSans-RegularRU';
    src: url('../fonts/regular/KelsonSans-RegularRU.eot');
    src: url('../fonts/regular/KelsonSans-RegularRU.eot?#iefix') format('embedded-opentype'),
        url('../fonts/regular/KelsonSans-RegularRU.svg#KelsonSans-RegularRU') format('svg'),
        url('../fonts/regular/KelsonSans-RegularRU.ttf') format('truetype'),
        url('../fonts/regular/KelsonSans-RegularRU.woff') format('woff'),
        url('../fonts/regular/KelsonSans-RegularRU.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KelsonSans-LightRU';
    src: url('../fonts/light/KelsonSans-LightRU.eot');
    src: url('../fonts/light/KelsonSans-LightRU.eot?#iefix') format('embedded-opentype'),
        url('../fonts/light/KelsonSans-LightRU.svg#KelsonSans-LightRU') format('svg'),
        url('../fonts/light/KelsonSans-LightRU.ttf') format('truetype'),
        url('../fonts/light/KelsonSans-LightRU.woff') format('woff'),
        url('../fonts/light/KelsonSans-LightRU.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KelsonSans-BoldRU';
    src: url('../fonts/bold/KelsonSans-BoldRU.eot');
    src: url('../fonts/bold/KelsonSans-BoldRU.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bold/KelsonSans-BoldRU.svg#KelsonSans-BoldRU') format('svg'),
        url('../fonts/bold/KelsonSans-BoldRU.ttf') format('truetype'),
        url('../fonts/bold/KelsonSans-BoldRU.woff') format('woff'),
        url('../fonts/bold/KelsonSans-BoldRU.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}