@font-face {
  font-family: 'Kelson Sans RU';
  src: url('Kelson Sans RU.eot');
  src: url('Kelson Sans RU.eot?#iefix') format('embedded-opentype'),
       url('Kelson Sans RU.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KelsonSans-RegularRU';
  src: url('KelsonSans-RegularRU.svg#KelsonSans-RegularRU') format('svg'),
       url('KelsonSans-RegularRU.ttf') format('truetype'),
       url('KelsonSans-RegularRU.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

